<ion-card *ngIf="agregar">
  <ion-card-content>
    <div class="custom-form-title">Agregar Equipo a la lista</div>
    <form [formGroup]="agregarEquipoFormGroup" (ngSubmit)="onSubmitAgregar(agregarEquipoFormGroup)">
      <div class="custom-form">
        <ion-label position="floating">Agregar Nombre</ion-label>
        <ion-input clearInput formControlName="equipoNombre"></ion-input>
      </div>
      <div class="custom-form">
        <ion-button (click)="convertToBase64()"> Seleccionar Imagen</ion-button>
        <div style="padding:20px 0;" *ngIf="imgUpload">
          <label style="padding:20px 0;">Vista Previa</label>

          <img style="width: 100px;" alt="Escudo Equipo" id="imgPlaceholder"/>
          {{nativePath}}
        </div>
      </div>
      <div class="custom-form-button">
        <ion-button color="primary" style="margin: 0;" type="submit" expand="block" size="small"
          class="ion-text-uppercase" [disabled]="agregarEquipoFormGroup.controls.equipoNombre.invalid">Agregar
        </ion-button>
      </div>

    </form>
  </ion-card-content>
</ion-card>


<ion-card *ngIf="editar">
  <ion-card-content>
    <div class="custom-form-title">Editar Equipo de la lista</div>
    <form [formGroup]="editarEquipoFormGroup" (ngSubmit)="onSubmitEditar(editarEquipoFormGroup)">
      <div class="custom-form">
        <ion-label>Equipo a editar</ion-label>
        <ion-select placeholder="Equipo" formControlName="editarEquipoNombre"
          (ionChange)="editEquipoNombreSelected($event.detail.value)">
          <ion-select-option value="{{equipo.id}}" *ngFor="let equipo of equiposList">{{equipo.nombre}}
          </ion-select-option>
        </ion-select>
      </div>
      <div class="custom-form">
        <ion-label position="floating">Editar Nombre</ion-label>
        <ion-input clearInput formControlName="editarEquipoNombreNuevo"></ion-input>
      </div>
      <div class="custom-form-button">
        <ion-button color="primary" style="margin: 0;" type="submit" expand="block" size="small"
          class="ion-text-uppercase"
          [disabled]="editarEquipoFormGroup.controls.editarEquipoNombre.invalid || editarEquipoFormGroup.controls.editarEquipoNombreNuevo.invalid">
          Editar</ion-button>
      </div>
    </form>
  </ion-card-content>
</ion-card>