<ion-header>
  <ion-toolbar class="custom-header-color">
      <ion-title class="header animacion-entrada-fadeIn">
          <ion-img class="header__img" src="../assets/img/deppro_negro.png"></ion-img>
      <p class="header__first-p">Novedades</p>
      <p class="header__second-p"><small><span>{{user?.nombre}}</span>, novedades para vos.</small></p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Toggle Infinite Scroll
    </ion-button> -->
    <ion-grid *ngFor="let novedad of novedadesList" class="ion-padding item-novedades">
      <ion-row class="item-novedades__header">
        <ion-col size="12" class="item__title">
            <ion-icon name="chatbubbles"></ion-icon> <span>{{novedad.titulo}}</span>
        </ion-col>
      </ion-row>
      <ion-row class="item-novedades__body">
        <ion-col>
            <p class="ion-text-capitalize item__cuerpo">{{novedad.cuerpo}}</p>
        </ion-col>
      </ion-row>
      <ion-row class="item-novedades__footer">
          <ion-col size="12">
              <ion-icon name="calendar"></ion-icon> <small>{{novedad.fecha}}</small>
          </ion-col>
      </ion-row>
    </ion-grid>

  
    <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="crecent"
        loadingText="cargando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
