<app-header></app-header>

<ion-content>
  <!-- <ion-button (click)="toggleInfiniteScroll()" expand="block">
      Toggle Infinite Scroll
    </ion-button> -->
  <ion-card class="animacion-entrada-novedades" *ngFor="let novedad of novedadesList">
    <section class="custom-border"></section>
    <ion-card-content>
      <section class="novedad">
        <div>
          <ion-icon name="chatbubbles"></ion-icon><span> {{novedad.titulo}}</span>
        </div>
        <div>
          <p class="ion-text-capitalize item__cuerpo">{{novedad.cuerpo}}</p>
        </div>
        <div>
          <ion-icon name="calendar"></ion-icon> {{novedad.fecha}}
        </div>
      </section>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crecent" loadingText="cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>