<app-header></app-header>

<ion-content>
  <ion-card class="animacion-entrada" *ngFor="let novedad of novedadesList">
    <section class="custom-border"></section>
    <ion-card-content>
      <section class="novedad">
        <div >
          <ion-icon name="chatbubbles"></ion-icon><span> {{novedad.titulo}}</span>
          <ion-button *ngIf="user.admin" (click)="deleteNovedad(novedad)" color="primary" size="small">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button *ngIf="user.admin"  (click)="editNovedad(novedad)" color="secondary" size="small">
            <ion-icon name="create"></ion-icon>
          </ion-button>
         </div>
        <div>
          <p class="ion-text-capitalize item__cuerpo">{{novedad.cuerpo}}</p>
        </div>
        <div>
          <ion-icon name="calendar"></ion-icon> {{novedad.fecha}}
        </div>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>