<app-header></app-header>

<ion-content>
    <ion-card class="animacion-entrada">
        <ion-card-content>
            <ion-select placeholder="Categoria" ok-text="Elegir" cancel-text="Cancelar"
                (ionChange)="filtradoPorCategoria($event)">
                <ion-select-option value="todas">Todas las Categorías</ion-select-option>
                <ion-select-option value="{{category.nombre}}" *ngFor="let category of categoriasList">
                    {{category.nombre}}</ion-select-option>
            </ion-select>
            <ion-item *ngIf="showBtnPosiciones">
                <ion-label>Posiciones</ion-label>
                <ion-toggle slot="end" name="posiciones" (ionChange)="mostrarTabla()"></ion-toggle>
            </ion-item>

        </ion-card-content>
    </ion-card>

    <!--     <ion-row *ngIf="user?.admin">
        <ion-col size="12">
            <section class="info-alert">
                <ion-icon name="remove-circle-outline" (click)="toggleAviso()"></ion-icon>
                <strong *ngIf="avisoEstado">Aviso:</strong>
                <p *ngIf="avisoEstado">Si un arbitro u Ofi. de Mesa acepta aparecera con un check (<ion-icon name="checkbox"></ion-icon>)</p>
                <p *ngIf="avisoEstado">Si todos los arbitros u Ofi. de Mesa aceptan aparecera con un check (<ion-icon name="checkmark"></ion-icon>)</p>
            </section>
        </ion-col>
    </ion-row> -->

    <ion-row *ngIf="noTieneDesignaciones">
        <ion-col size="12">
            <section class="warning-alert">
                <strong>Aviso:</strong>
                <p *ngIf="noHayPartidos">No hay partidos Programados para esta semana</p>
                <p *ngIf="noHayDesignacion">No tiene Designación por el momento</p>
            </section>
        </ion-col>
    </ion-row>
    <ion-card class="animacion-entrada" *ngFor="let designacion of designaciones; let i = index">
        <section class="custom-border"></section>
        <ion-card-content>
            <section class="grid-partido">
                <div>{{designacion.cancha}}</div>
                <div>{{designacion.fecha}} |</div>
                <div> {{designacion.hora}}hs</div>
            </section>
            <section class="grid-partido-data">
                <div class="grid-partido-data__teamName">
                    {{designacion.equipoA}}
                </div>
                <div>
                    <input type="number" onfocus="this.value=''" class="grid-partido-data__score-input"
                        (change)="updateMyValueEquipoA($event.target.value, designacion)" [formControl]="equipoA" />
                </div>
                <div class="grid-partido-data__teamName">
                    {{designacion.equipoB}}
                </div>
                <div>
                    <input type="number" onfocus="this.value=''" class="grid-partido-data__score-input"
                        (change)="updateMyValueEquipoB($event.target.value)" [formControl]="equipoB" />
                </div>
                <div class="grid-partido-data__category">
                    <div>{{designacion.categoria}}</div>
                </div>
            </section>
            <section *ngIf="user?.usuarioId !== 'invitado'">
                <section class="grid-card-title" (click)="showJueces(i)">
                    <div>
                        Jueces
                        <span
                            *ngIf="designacion.arbitro1_confirmado || designacion.arbitro2_confirmado || designacion.arbitro3_confirmado">*</span>
                    </div>
                    <div>
                        <span
                            *ngIf="designacion.arbitro1_confirmado && designacion.arbitro2_confirmado && designacion.arbitro3_confirmado">
                            <ion-icon name="checkmark"></ion-icon>
                        </span></div>
                    <div>
                        <ion-icon name="arrow-dropdown"
                            [ngClass]="{'rotate-element-180': showJuecesIndex === i,'rotate-element-0': showJuecesIndex !== i}">
                        </ion-icon>
                    </div>
                </section>

                <section class="grid-oficiales" *ngIf="showJuecesIndex === i">
                    <div class="grid-oficiales__header">
                        1er Juez <ion-icon name="checkbox" *ngIf="designacion.arbitro1_confirmado">
                        </ion-icon>
                    </div>
                    <div class="grid-oficiales__header">
                        2do Juez <ion-icon name="checkbox" *ngIf="designacion.arbitro2_confirmado">
                        </ion-icon>
                    </div>
                    <div class="grid-oficiales__header">
                        3er Juez <ion-icon name="checkbox" *ngIf="designacion.arbitro3_confirmado">
                        </ion-icon>
                    </div>
                    <div class="custom-name">
                        {{designacion.arbitro1}}
                    </div>
                    <div class="custom-name">
                        {{designacion.arbitro2}}
                    </div>
                    <div class="custom-name">
                        {{designacion.arbitro3}}
                    </div>
                </section>

                <section class="grid-card-title" (click)="showOfMesa(i)">
                    <div>
                        Oficiales de Mesa
                        <span
                            *ngIf="(designacion.anotador_confirmado || designacion.cronometro_confirmado) && !(designacion.anotador_confirmado && designacion.cronometro_confirmado)">*</span>
                    </div>
                    <div>
                        
                        <span *ngIf="designacion.anotador_confirmado && designacion.cronometro_confirmado">
                            <ion-icon name="checkmark"></ion-icon>
                        </span>
                    </div>
                    <div>
                        <ion-icon name="arrow-dropdown"
                            [ngClass]="{'rotate-element-180': showOfMesaIndex === i,'rotate-element-0': showOfMesaIndex !== i}">
                        </ion-icon>
                    </div>
                </section>
                <section class="grid-oficiales" *ngIf="showOfMesaIndex === i">
                    <div class="grid-oficiales__header">
                        Anotador <ion-icon name="checkbox" *ngIf="designacion.anotador_confirmado">
                        </ion-icon>
                    </div>
                    <div class="grid-oficiales__header">
                        Tablero <ion-icon name="checkbox" *ngIf="designacion.cronometro_confirmado">
                        </ion-icon>
                    </div>
                    <div class="grid-oficiales__header">
                        24" <ion-icon name="checkbox" *ngIf="designacion.cronometro2_confirmado">
                        </ion-icon>
                    </div>
                    <div class="custom-name">
                        {{designacion.anotador}}
                    </div>
                    <div class="custom-name">
                        {{designacion.cronometro}}
                    </div>
                    <div class="custom-name">
                        {{designacion.cronometro2}}
                    </div>
                </section>
                <ion-row *ngIf="!user?.admin">
                    <ion-col size="12" class="text-align-right" style="margin-top:10px; position: relative;"
                        *ngIf="!designacion.anotador_confirmado && !designacion.arbitro1_confirmado && !designacion.arbitro2_confirmado && !designacion.arbitro3_confirmado && !designacion.cronometro_confirmado">
                        <ion-button size="small" (click)="aceptarPartidoModal(designacion, i)">ACEPTAR PARTIDO
                        </ion-button>
                    </ion-col>
                    <ion-col size="12"
                        *ngIf="!(!designacion.anotador_confirmado && !designacion.arbitro1_confirmado && !designacion.arbitro2_confirmado && !designacion.arbitro3_confirmado && !designacion.cronometro_confirmado)">
                        <section class="info-alert in">
                            <strong class="ion-text-capitalize">Designación aceptada</strong>
                            <p>recuerde estar 20' antes de la hora de inicio</p>
                        </section>
                    </ion-col>
                </ion-row>
            </section>
        </ion-card-content>
    </ion-card>
</ion-content>