<app-header></app-header>
<ion-content slot="fixed" (ionRefresh)="doRefresh($event)">

    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Tirá para Refrescar"
            refreshingSpinner="circles" refreshingText="Refrescando...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-card class="animacion-entrada">
        <ion-card-content slot="fixed">
            <ion-select placeholder="Categoria" ok-text="Elegir" cancel-text="Cancelar"
                (ionChange)="filtradoPorCategoria($event)">
                <ion-select-option value="todas">Todas las Categorías</ion-select-option>
                <ion-select-option value="{{category.nombre}}" *ngFor="let category of categoriasList">
                    {{category.nombre}}</ion-select-option>
            </ion-select>
        </ion-card-content>
    </ion-card>
    <!-- <em>{{error | json}}</em> -->
    <ion-row *ngIf="noTieneDesignaciones" class="animacion-entrada">
        <ion-col size="12">
            <section class="warning-alert">
                <strong>Aviso:</strong>
                <p *ngIf="noHayPartidos">No hay partidos Programados para esta semana</p>
                <p *ngIf="noHayDesignacion">No tiene Designación por el momento</p>
            </section>
        </ion-col>
    </ion-row>
    <ion-card class="animacion-entrada" *ngFor="let designacion of designaciones; let i = index">
        <section class="custom-border"
            [ngStyle]="{'background-color' : designacion?.cuarto === 'Finalizado' ? 'var(--ion-color-danger)' : 'var(--ion-color-primary)'}">
        </section>
        <ion-card-content>
            <section class="grid-partido">
                <div>
                    <ion-icon class="grid-partido__pin" name="pin"
                        [ngStyle]="{'color': designacion?.cuarto === 'Finalizado' ? 'var(--ion-color-danger)': 'var(--ion-color-primary)'}">
                    </ion-icon>
                    {{designacion.cancha}}

                    <!-- <small class="grid-partido__inprogress"
                        *ngIf="(designacion?.hora | slice:0:2) === hotHour">en horario
                        de juego</small> -->

                </div>
                <div>{{designacion.fecha}} |</div>
                <div> {{designacion.hora}}hs</div>
            </section>

            <section class="grid-partido-data">
                <div class="grid-partido-data__teamName">
                    {{designacion.equipoA}}
                </div>
                <div>
                    <div class="grid-partido-data__score-div" *ngIf="user?.usuarioId === 'invitado'">
                        {{designacion.resultadoA || 0}}</div>
                    <input type="number" [value]="designacion.resultadoA || 0" class="grid-partido-data__score-input"
                        [formControl]="equipoA" *ngIf="user?.usuarioId !== 'invitado'"
                        [ngStyle]="{'color': designacion?.cuarto === 'Finalizado' ? 'var(--ion-color-danger)': 'var(--ion-color-primary)'}" />
                </div>
                <div class="grid-partido-data__teamName">
                    {{designacion.equipoB}}
                </div>
                <div class="grid-partido-data__btn-refresh">
                    <div *ngIf="user?.usuarioId !== 'invitado'">
                        <button (click)="updateScoreTime(designacion , i)" [disabled]="user?.usuarioId === 'invitado'"
                            *ngIf="designacion?.cuarto !== 'Finalizado'">
                            <ion-icon name="refresh"></ion-icon>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="grid-partido-data__score-div" *ngIf="user?.usuarioId === 'invitado'">
                        {{designacion.resultadoB || 0}}</div>
                    <input type="number" [value]="designacion.resultadoB || 0" class="grid-partido-data__score-input"
                        [formControl]="equipoB" *ngIf="user?.usuarioId !== 'invitado'"
                        [ngStyle]="{'color': designacion?.cuarto === 'Finalizado' ? 'var(--ion-color-danger)': 'var(--ion-color-primary)'}" />
                </div>
                <div class="grid-partido-data__category">
                    <button (click)="presentPopover($event, designacion)" [disabled]="user?.usuarioId === 'invitado'"
                        [ngStyle]="{'background': designacion?.cuarto === 'Finalizado' ? 'var(--ion-color-danger)': 'var(--ion-color-primary)'}">{{designacion.cuarto}}</button>
                </div>
                <div class="grid-partido-data__time">
                    <div
                        [ngStyle]="{'background': designacion?.cuarto === 'Finalizado' ? 'var(--ion-color-danger)': 'var(--ion-color-primary)'}">
                        {{designacion.categoria}}</div>
                </div>
            </section>
            <section *ngIf="user?.usuarioId !== 'invitado'">
                <div
                    *ngIf="designacion.arbitro1 && designacion.arbitro2 && designacion.anotador && designacion.cronometro">

                    <section class="grid-card-title" (click)="showJueces(i)">
                        <div>
                            Jueces
                            <span
                                *ngIf="designacion.arbitro1_confirmado || designacion.arbitro2_confirmado || designacion.arbitro3_confirmado">*</span>
                        </div>
                        <div>
                            <span
                                *ngIf="designacion.arbitro1_confirmado && designacion.arbitro2_confirmado && designacion.arbitro3_confirmado">
                                <ion-icon name="checkmark"></ion-icon>
                            </span></div>
                        <div>
                            <ion-icon name="arrow-dropdown"
                                [ngClass]="{'rotate-element-180': showJuecesIndex === i,'rotate-element-0': showJuecesIndex !== i}">
                            </ion-icon>
                        </div>
                    </section>

                    <section class="grid-oficiales" *ngIf="showJuecesIndex === i">
                        <div class="grid-oficiales__header">
                            1er Juez <ion-icon name="checkbox" *ngIf="designacion.arbitro1_confirmado">
                            </ion-icon>
                        </div>
                        <div class="grid-oficiales__header">
                            2do Juez <ion-icon name="checkbox" *ngIf="designacion.arbitro2_confirmado">
                            </ion-icon>
                        </div>
                        <div class="grid-oficiales__header">
                            3er Juez <ion-icon name="checkbox" *ngIf="designacion.arbitro3_confirmado">
                            </ion-icon>
                        </div>
                        <div class="custom-name">
                            {{designacion.arbitro1}}
                        </div>
                        <div class="custom-name">
                            {{designacion.arbitro2}}
                        </div>
                        <div class="custom-name">
                            {{designacion.arbitro3}}
                        </div>
                    </section>

                    <section class="grid-card-title" (click)="showOfMesa(i)">
                        <div>
                            Oficiales de Mesa
                            <span
                                *ngIf="(designacion.anotador_confirmado || designacion.cronometro_confirmado) && !(designacion.anotador_confirmado && designacion.cronometro_confirmado)">*</span>
                        </div>
                        <div>

                            <span *ngIf="designacion.anotador_confirmado && designacion.cronometro_confirmado">
                                <ion-icon name="checkmark"></ion-icon>
                            </span>
                        </div>
                        <div>
                            <ion-icon name="arrow-dropdown"
                                [ngClass]="{'rotate-element-180': showOfMesaIndex === i,'rotate-element-0': showOfMesaIndex !== i}">
                            </ion-icon>
                        </div>
                    </section>
                    <section class="grid-oficiales" *ngIf="showOfMesaIndex === i">
                        <div class="grid-oficiales__header">
                            Anotador <ion-icon name="checkbox" *ngIf="designacion.anotador_confirmado">
                            </ion-icon>
                        </div>
                        <div class="grid-oficiales__header">
                            Tablero <ion-icon name="checkbox" *ngIf="designacion.cronometro_confirmado">
                            </ion-icon>
                        </div>
                        <div class="grid-oficiales__header">
                            24" <ion-icon name="checkbox" *ngIf="designacion.cronometro2_confirmado">
                            </ion-icon>
                        </div>
                        <div class="custom-name">
                            {{designacion.anotador}}
                        </div>
                        <div class="custom-name">
                            {{designacion.cronometro}}
                        </div>
                        <div class="custom-name">
                            {{designacion.cronometro2}}
                        </div>
                    </section>
                </div>
                <ion-row *ngIf="!user?.admin">
                    <ion-col size="12" class="text-align-right" style="margin-top:10px; position: relative;"
                        *ngIf="!designacion.anotador_confirmado && !designacion.arbitro1_confirmado && !designacion.arbitro2_confirmado && !designacion.arbitro3_confirmado && !designacion.cronometro_confirmado">
                        <ion-button size="small" (click)="modal(designacion, 'aceptar')">ACEPTAR PARTIDO
                        </ion-button>
                    </ion-col>
                    <ion-col size="12"
                        *ngIf="!(!designacion.anotador_confirmado && !designacion.arbitro1_confirmado && !designacion.arbitro2_confirmado && !designacion.arbitro3_confirmado && !designacion.cronometro_confirmado)">
                        <section class="info-alert in">
                            <strong class="ion-text-capitalize">Designación aceptada</strong>
                            <p>recuerde estar 20' antes de la hora de inicio</p>
                        </section>
                    </ion-col>
                </ion-row>
            </section>
            {{user.admin}}
            <section class="grid-partido-data-buttons" *ngIf="user.admin">
                <ion-button style="width:50px;"(click)="modal(designacion, 'eliminar')" color="primary" size="small">
                    <ion-icon name="trash"></ion-icon>
                </ion-button>
                <ion-button color="primary" size="small" (click)="editProgramacion(designacion, 'agregar')"
                    *ngIf="!(designacion.arbitro1 && designacion.arbitro2 && designacion.anotador && designacion.cronometro)">
                    <ion-icon name="add"></ion-icon> Agregar Oficiales
                </ion-button>
                <ion-button (click)="editProgramacion(designacion, 'editar')" color="secondary" size="small"
                    *ngIf="designacion.arbitro1 && designacion.arbitro2 && designacion.anotador && designacion.cronometro">
                    <ion-icon name="create"></ion-icon> Editar
                </ion-button>
            </section>
        </ion-card-content>
    </ion-card>
</ion-content>