ion-content{
  --ion-background-color:#6c1d1d;
}
ion-header{
    .custom-header-color{
      --background: #f04141;
      color: #ffffff;
      height: 8rem;
      display:flex;
      align-items: center;
      .header{
        text-align: center;
        &__first-p{
          padding-bottom: 0;
          margin-bottom: 3px;
          text-transform: uppercase;
          margin-top: 5px;
        }
        &__second-p{
          padding-top: 0;
          margin-top: 3px;
          margin-bottom: 0;
          small span{
            text-transform: uppercase;
          }
        }
        &__img{
          width:4.5rem;
          height: 2rem;
          display: inline-block;
        }
      }
    }
  }

  .animacion-entrada-fadeIn{
    -webkit-animation: card-fadeIn 2s;
    animation: card-fadeIn 2s;
    animation-fill-mode: forwards; 
  }
  
  
  @keyframes card-fadeIn {
    from { 
        opacity: 0;
    }
    to   { 
      opacity: 1;
    }
  }
  @-webkit-keyframes card-fadeIn {
    from { 
      opacity: 0;
      }
      to   { 
        opacity: 1;
      }
  }
  
.item-novedades{
    margin:5px 10px;
    border: 1px solid rgba(#f04141, 0.05);
    border-radius: 4px;
    background-color: #fbfcff;
    -webkit-animation: card-animation .5s;
    animation: card-animation .5s;
    animation-fill-mode: forwards; 
    &:first-child{
      margin-top:10px;
    }
    ion-row{
      border-bottom: 1px solid rgba(#f04141, 0.05);
      ion-col ion-label{
        position:relative;
        top:20px;
        font-size: .9rem;
      }
    }
    
}

@keyframes card-animation {
  from { 
    transform: translateY(-200px);
      transition-timing-function: ease-in;
  }
  to   { 
    transform: translateY(0);
  }
}
@-webkit-keyframes card-animation {
  from { 
    transform: translateY(-200px);
      transition-timing-function: ease-in;
  }
  to   { 
    transform: translateY(0);
  }
}

