<app-header></app-header>

<ion-content>
  <div class="input-upload-container" *ngIf="type !== 'editar'">
    <label for="file" class="file-label">
      <ion-icon name="cloud-upload"></ion-icon>
      {{archivoElegido || elegirArchivo }}
    </label>
    <input type="file" id="file" (change)="onFileChange($event)" class="inputfile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
    <ion-button expand="block" color="secondary" size="small" *ngIf="dataXLS" (click)="uploadProgramacion()">Cargar
      Programación</ion-button>
  </div>
  <section class="grid-parametros animacion-entrada">
    <div>Usuario</div>
    <div>
      <ion-button color="primary" size="small" (click)="editarUsuario()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button color="primary" size="small" (click)="agregarUsuario()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </section>
  <!-- <section class="grid-parametros animacion-entrada">
    <div>Cancha</div>
    <div>
      <ion-button color="primary" size="small" (click)="editarCancha()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button color="primary" size="small" (click)="agregarCancha()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </section> -->
  <!--   <section class="grid-parametros animacion-entrada">
    <div>Equipo</div>
    <div>
      <ion-button color="primary" size="small" (click)="editarEquipo()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button color="primary" size="small" (click)="agregarEquipo()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </section> -->
  <!--   <section class="grid-parametros animacion-entrada">
    <div>Categorías</div>
    <div>
      <ion-button color="primary" size="small" (click)="editarCategoria()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </div>
    <div>
      <ion-button color="primary" size="small" (click)="agregarCategoria()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </section> -->
  <section class="grid-parametros animacion-entrada">
    <div>Novedades</div>
    <div>
      <!-- <ion-button color="primary" size="small" (click)="editarEquipo()">
        <ion-icon name="create"></ion-icon>
      </ion-button> -->
    </div>
    <div>
      <ion-button color="primary" size="small" (click)="agregarNovedades()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </section>
  <app-canchas *ngIf="views?.canchaView.status" [agregar]="views?.canchaView.agregar"
    [editar]="views?.canchaView.editar"></app-canchas>
  <app-equipos *ngIf="views?.equipoView.status" [agregar]="views?.equipoView.agregar"
    [editar]="views?.equipoView.editar"></app-equipos>
  <app-categorias *ngIf="views?.categoriaView.status" [agregar]="views?.categoriaView.agregar"
    [editar]="views?.categoriaView.editar"></app-categorias>
  <app-usuario *ngIf="views?.usuarioView.status" [agregar]="views?.usuarioView.agregar"
    [editar]="views?.usuarioView.editar"></app-usuario>
  <app-novedades *ngIf="views?.novedadView.status" [agregar]="views?.novedadView.agregar"
    [editar]="views?.novedadView.editar"></app-novedades>

</ion-content>