ion-content{
  --ion-background-color:var(--ion-color-light);
}
  ion-card{
    -webkit-animation: fadein 0.8s;
    animation: fadein 0.5s;
    border-radius: 2px;
    margin: 5px;
    position: relative;
}
ion-card-content{
 background-color: #fbfcff;
 padding: 5px!important;
}

@keyframes card-animation {
    from { 
      transform: translateY(-200px);
        transition-timing-function: ease-in;
    }
    to   { 
      transform: translateY(0);
    }
  }
  @-webkit-keyframes card-animation {
    from { 
      transform: translateY(-200px);
        transition-timing-function: ease-in;
    }
    to   { 
      transform: translateY(0);
    }
  }
  

  .animacion-entrada{
    -webkit-animation: card-animation .5s;
    animation: card-animation .5s;
    animation-fill-mode: forwards; 
}
  
  
  @keyframes card-fadeIn {
    from { 
        opacity: 0;
    }
    to   { 
      opacity: 1;
    }
  }
  @-webkit-keyframes card-fadeIn {
    from { 
      opacity: 0;
      }
      to   { 
        opacity: 1;
      }
  }

  .grid-positionList{
      &.grid-positionList-header{
          font-weight: bold;
          font-size: .9rem;
      }
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
      font-size: .8rem;
      border-bottom: 1px dashed var(--ion-color-secondary);
      padding: 10px;
      div:first-child{
        align-self: end;
        justify-self: left!important;
        span{
          display: inline-block;
        }
        button, .btn-positions{
          margin-left: 5px;
            background: var(--ion-color-primary);
            border:none;
            padding:3px;
            width: 23px;
            height: 23px;
            border-radius: 50px;
            color: var(--ion-color-primary-contrast);
            font-size: .7rem;
        }
      }
      div{
          align-self: end;
          justify-self: center;  
      }
  }


  .grid-parametros{
    div{
      font-size: .9rem;
      border:1px solid #edf4ff;
      background-color: #f5f9ff;
      border-bottom-color:#d9e8ff;
      padding: .8rem;
      border-bottom:1px solid #edf4ff;
      color:#000;
    }
  }