<ion-button size="small" (click)="sendTime('1er C')">1<sup>er</sup> C</ion-button>
<ion-button size="small" (click)="sendTime('2do C')">2<sup>do</sup> C</ion-button>
<ion-button size="small" (click)="sendTime('3er C')">3<sup>er</sup> C</ion-button>
<ion-button size="small" (click)="sendTime('4to C')">4<sup>to</sup> C</ion-button>
<ion-button size="small" (click)="sendTime('T.S.')">T.S.</ion-button>
<ion-button size="small" (click)="sendTime('Suspendido')">Suspendido</ion-button>
<ion-button size="small" (click)="sendTime('Finalizado')">Finalizado</ion-button>

