<app-header></app-header>

<ion-content>
  <form [formGroup]="designationForm" (ngSubmit)="designar(designationForm)">
    <section class="grid-parametros">
      <div>
        <ion-select placeholder="Cancha" formControlName="cancha" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{team.id}}" *ngFor="let team of canchasList">{{team.nombre}}</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-datetime displayFormat="DD/MM" placeholder="Día" formControlName="dia" ok-text="Elegir"
          cancel-text="Cancelar"></ion-datetime>
      </div>
      <div>
        <ion-datetime displayFormat="h:mm A" minuteValues="0,15,30,45" formControlName="hora" placeholder="Hora"
          ok-text="Elegir" cancel-text="Cancelar"></ion-datetime>
      </div>
      <div>
        <ion-select placeholder="Equipo A" formControlName="equipoA" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{team.id}}" *ngFor="let team of equiposList">{{team.nombre}}
          </ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Equipo B" formControlName="equipoB" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{team.id}}" *ngFor="let team of equiposList">{{team.nombre}}
          </ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Categoria" formControlName="categoria" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{category.id}}" *ngFor="let category of categoriasList">{{category.nombre}}
          </ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Arbitro 1" formControlName="arbitro1" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{official.id}}" *ngFor="let official of usuariosArbitrosList">
            {{official.nombre}}</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Arbitro 2" formControlName="arbitro2" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{official.id}}" *ngFor="let official of usuariosArbitrosList">
            {{official.nombre}}</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Arbitro 3" formControlName="arbitro3" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{official.id}}" *ngFor="let official of usuariosArbitrosList">
            {{official.nombre}}</ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Anotador" formControlName="anotador" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{official.id}}" *ngFor="let official of usuariosMesaList">{{official.nombre}}
          </ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Cronometro" formControlName="cronometro" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{official.id}}" *ngFor="let official of usuariosMesaList">{{official.nombre}}
          </ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-select placeholder="Cronometro 2" formControlName="cronometro2" ok-text="Elegir" cancel-text="Cancelar">
          <ion-select-option value="{{official.id}}" *ngFor="let official of usuariosMesaList">{{official.nombre}}
          </ion-select-option>
        </ion-select>
      </div>
      <div>
        <ion-button expand="block" class="primary" size="small" type="submit" [disabled]="!designationForm.valid">
          Designar
        </ion-button>
      </div>
    </section>
  </form>

</ion-content>